html,
body {
	height: 100%;
}

body {
	background-image: url(../images/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #999;

}

/* Pikachu img style */
.pikachuImg {
	position: absolute;
	bottom: 30px;
	left: 65%
}

.pikachuImg img {
	height: 170px;
	width: auto;
}

/* Charmander img style */
.charmanderImg {
	position: absolute;
	bottom: 34px;
	left: 10%;
}

.charmanderImg img {
	height: 150px;
	width: auto;
	transform: scaleX(-1);
}

/* Attack line box */
.attackLine {
	width: 250px !important;
}